In [3]:
#includes
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import statistics

from IPython import get_ipython
from nbformat import read
from IPython.core.interactiveshell import InteractiveShell

from ipynb.fs.full. Stevan_part import *

# Step 1 - Data Preprocessing

## Gather RNA counts

In [4]:
#Dataframe lines: customers, columns: genes
class SampleMerger:
    def __init__(self):          #constructor
        self.sample_files = None #files names
        self.df = None           #dataframe
        
    def set_sample_files(self):  #load files names
        txt_files = []
        folder_path = '../Data/'

        for file_name in os.listdir(folder_path):
            if file_name.endswith('.txt'):
                txt_files.append(os.path.join(folder_path, file_name))
        self.sample_files = txt_files
    
    def merge_samples(self): #Create the dataframe
        count = 0
        i = 0
        j = -1
        gene_list = []
        nb_gene_list = [ [ None for y in range( len(self.sample_files) ) ]for x in range( 28953 ) ]
        
        for file in self.sample_files:
            j += 1
            with open(file) as fasta_file:
                for line in fasta_file:
                    line = line.strip()
                    if not(line.startswith("g")):
                        gene = line.split("\t")[0]
                        nb_gene = line.split("\t")[1]
                        if (count == 0):
                            gene_list.append(gene)
                        nb_gene_list[i][j] = int(nb_gene)
                        i += 1
            count = 1
            i = 0
        dictionnary = dict()
        for i in range (0, 28953):
            dictionnary[gene_list[i]] = nb_gene_list[i]
        self.df = pd.DataFrame(dictionnary)
        
    def test_data(self): #tests
        if self.df is None:
            self.merge_samples()
        assert self.df.isnull().sum().sum() == 0, "There are missing values in the merged dataframe."
        assert isinstance(self.df, pd.DataFrame), "The merged object is not a dataframe."
        return True

In [6]:
Frame = SampleMerger()
Frame.set_sample_files()
Frame.merge_samples()

In [7]:
Frame.test_data()

True

In [8]:
Frame.df

,"""A1BG""","""A1BG-AS1""","""A1CF""","""A2M""","""A2M-AS1""","""A2ML1""","""A2MP1""","""A3GALT2""","""A4GALT""","""A4GNT""",...,X6B_LINE:CR1:LINE,X7A_LINE:CR1:LINE,X7B_LINE:CR1:LINE,X7C_LINE:CR1:LINE,X7D_LINE:CR1:LINE,X8_LINE:CR1:LINE,X9_LINE:L1:LINE,Zaphod2:hAT-Tip100:DNA,Zaphod3:hAT-Tip100:DNA,Zaphod:hAT-Tip100:DNA
0,27,89,0,1627,85,162,3,0,8,0,...,727,1414,1479,724,89,421,84,410,1199,1462
1,62,175,0,3614,94,128,3,3,143,0,...,727,1863,1723,966,79,527,94,432,1679,1919
2,29,88,0,1171,86,105,3,2,37,1,...,809,1790,1590,764,93,435,125,350,1579,1871
3,16,133,0,1366,84,200,4,3,31,1,...,851,1738,1632,903,82,439,94,423,1704,1780
4,38,83,0,2391,121,143,6,2,15,1,...,1095,2267,2122,1078,128,555,106,522,2087,2432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,17,43,4,900,73,113,1,2,6,1,...,727,1561,1372,702,83,350,99,351,1256,1479
172,48,127,0,1635,105,226,1,1,24,0,...,465,1006,1087,519,48,329,86,277,789,905
173,37,118,0,1245,104,168,1,1,21,1,...,847,1822,1625,903,96,472,120,415,1556,1768
174,30,63,0,1024,34,56,1,0,9,0,...,288,640,644,352,30,179,46,136,614,723
175,26,109,0,1113,85,105,0,3,86,0,...,619,1429,1270,724,65,376,102,358,1330,1422

# Step 2 - Descriptive analysis

## RNA counts description:

For each gene, compute the mean, the median and the standard deviation

In [18]:
def get_mean_dict(df):
   """
    return the mean for each gene as a dictionary {key: gene; value: mean}
    """
    mean_dict = dict()
    for col in Frame.df.columns:
        mean_dict[col] = Frame.df[col].mean()
    return mean_dict

def get_median_dict(df):
    """
    return the median for each gene as a dictionary {key: gene; value: median}
    """
    median_dict = dict()
    for col in Frame.df.columns:
        median_dict[col] = Frame.df[col].median()
    return median_dict

def get_stdev_dict(df):
    """
    return the standard deviation for each gene as a dictionary {key: gene; value: standard deviation}
    """
    stdev_dict = dict()
    for col in Frame.df.columns:
        stdev_dict[col] = Frame.df[col].std()
    return stdev_dict

In [19]:
mean_dict = get_mean_dict(Frame.df)
median_dict = get_median_dict(Frame.df)
stdev_dict = get_stdev_dict(Frame.df)